

<div class="container" *ngIf="loadHome">
<div class="container col-lg-8 col-lg-offset-1 taglinediv">



<br>
<br>
<br>
<br>
<br>
<div class="row search container">
	<div class="col-lg-12 col-lg-offset-1">
	  <form role="form">
			  
				<h3>Welcome To Hotel Booking Application</h3>
				<span class="input-group-btn">
				<a routerLink="/search"><button class="btn btn-primary btn-lg" type="submit" (click)="setCity(searchcity.value)">Click Here to view Hotels</button></a>
				</span>
      
			 
	  </form>
	</div>
  </div>

  <div class="emptydiv">

</div>

